.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inputsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 8px;
  text-align: center;
}
.searchtodo, .newtodo{
  margin-left: 8px;
}

.addTodoItem {
  background-image: linear-gradient(#f7f8fa ,#e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255,255,255,.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: Arial,sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding: 0 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.addTodoItem:active {
  border-bottom-color: #a2a6ac;
}

.addTodoItem:active:hover {
  border-bottom-color: #a2a6ac;
}

.addTodoItem:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.addTodoItem:focus {
  border-color: #e77600;
  box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
  outline: 0;
}
.mainList{
	display: flex;
	flex-wrap: wrap;
  margin: 5px;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
}
.todoboxContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  margin: 3px;
}
input{
  padding: 5px;
  margin: 3px;
}
.todosBox{
  position: relative;
  border: 1px solid #282c34;
  padding: 4px;
  display: grid;
  grid-template-rows: 1.5em auto;
  grid-template-columns: 1fr;
  justify-content: start;
  min-width: 100px;
  min-height: 150px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #a6a6a7;
}
.yellowBox{
  background-color: rgb(255, 254, 198);
}
.redBox{
  background-color: rgb(255, 217, 217);
}
.greenBox{
  background-color: rgb(219, 255, 177);
}
.whiteBox{
  background-color: rgb(255,255,255);
}
.deletetodo{
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #b30000;
  text-align: center;
  cursor: pointer;
  margin-left: 1px;
  border-radius: 0 0 0 25%;
}
.todosBoxTitle{
  grid-row: 1/2;
  font-weight: 500;
  border-bottom: 1px solid #282c34;
  width: 100%;
}
.todosBoxBody{
  grid-row: 2/3;
}
.todoItemContainer{
  border: 1px solid #a6a6a7;
  padding: 2px;
  margin: 1px;
  text-align: left;
  box-shadow: 2px 2px 2px #bcd2d8;
  border-radius: 3px;
  cursor: grab;
}
.todoItem, .todoItemNew{
  position: relative;
  display: flex;
  list-style-position: inside;
	margin: 5px;
	padding: 5px 24px 5px 5px;
  cursor: grab;
  text-align: left;
  border-radius: 3px 3px 9px 3px;
  border: 1px solid #414141;
  background-color: rgb(70 69 69 / 70%);
  color: #fff;
  text-shadow: 1px 0 #414141;
}
.todoItemNew{
  max-width: 200px;
}
.todoItem li:hover, .todoItemNew:hover{
  transform: scale(1.02);
  box-shadow: 0 0 11px rgba(33,33,33,.1);
}
.hideOverflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
